{{!log this}}
<!DOCTYPE html>
<html>
	<head>
		{{>head}}
	</head>
	<body class="author-template">
		{{>navigation}}
		<section id="wrapper">
			<a class="hidden-close"></a>
			{{>author-header}}
			{{>author-section}}
      {{>author-content}}
			{{>footer}}
		</section>
	</body>
</html>
