{{!log this}}
<!DOCTYPE html>
<html>
	<head>
		{{>head}}
	</head>
	<body class="home-template">
		{{>navigation}}
		<section id="wrapper">
			<a class="hidden-close"></a>
			{{>index-header}}
			{{>index-content}}
			{{>footer}}
		</section>
	</body>

</html>
