{{!log this}}
<!DOCTYPE html>
<html>
	<head>
		{{>head}}
	</head>
	<body class="tag-template">
		{{>navigation}}
		<section id="wrapper">
			<a class="hidden-close"></a>
			{{>tag-header}}
			{{>tag-content}}
			{{>footer}}
		</section>
	</body>
</html>
