<main class="content" role="main">
  <article class="{{!post_class}}">
    <div class="inner">
      <section class="post-content">
        {{data.fields.content}}
      </section>
    </div>
  </article>
</main>
